<div class="auth-wrapper">
  <div class="auth-content">
    <div class="auth-bg">
      <span class="r"></span>
      <span class="r s"></span>
      <span class="r s"></span>
      <span class="r"></span>
    </div>
    <div class="card">
      <div class="card-body text-center">
        <div class="mb-4">
          <i class="feather icon-mail auth-icon"></i>
        </div>
        <h3 class="mb-4">Redefinir Senha</h3>
        <form name="recoverForm" [formGroup]="recoverForm" validate>
          <div class="">
            <mat-form-field class="w-100" appearance="outline">
              <!-- <mat-label>E-mail</mat-label> -->
              <input matInput type="email" style="text-transform: lowercase;" id="login" placeholder="Informe seu e-mail" formControlName="login" required>
              <mat-error class="mat-error" *ngIf="recoverForm.get('login').hasError('required')">
                Campo obrigatório!
              </mat-error>
              <mat-error class="mat-error" *ngIf="!recoverForm.get('login').hasError('required') ">
                Email inválido
              </mat-error>
            </mat-form-field>
          </div>
          <button class="btn btn-primary mb-4" type="submit" aria-label="Confirmar" (click)="recover(recoverForm)">
            Enviar
          </button>
          <p class="mb-2 text-muted"><a [routerLink]="['/auth/signin']">Acessar sistema</a>
        </form>

      </div>
    </div>
  </div>
</div>
