<div class="container">
    <div class="row justify-content-center">
        <table class="MsoNormalTable" cellpadding="0" cellspacing="0" width="646">
            <tbody>
                <tr>
                    <td style="padding: 0cm;">
                        <p class="MsoNormal" style="margin-bottom: 0.0001pt; text-align: center; line-height: normal;">
                            <b><u><span>CONTRATO DE PRESTAÇÃO DE SERVIÇO {{data.contratanteRazaoSocial | uppercase}}</span></u></b></p>
                    </td>
                </tr>
                <tr>
                    <td style="padding: 0cm;"></td>
                </tr>
                <tr>
                    <td style="padding: 0cm;">
                        <div>
                            <table class="MsoNormalTable" cellpadding="0" cellspacing="0" width="100%">
                                <tbody>
                                    <tr>
                                        <td style="padding: 0cm;" valign="top">
                                            <p class="MsoNormal" style="text-align: justify; line-height: normal;">
                                                <span>I
                                                    – {{data.contratanteRazaoSocial}}, conforme ato nº
                                                    7594/2011, publicado no diário oficial da União (DOU) em
                                                    08/12/2011, inscrita no CNPJ sob o número <b>{{data.contratanteCnpj || "__________________"}}</b>,
                                                    estabelecida à {{data.contratanteRazaoSocial || "____________________"}}, bairro: {{data.contratanteBairro || "___________"}},
                                                    cidade: <b>{{data.contratanteCidade || "______________"}}</b>, neste ato representada por
                                                    <b>{{data.contratanteResposavelNome || "______________________"}}</b>, inscrito no CPF <b>{{data.contratanteResposavelCpf || "________________"}}</b> doravante
                                                    denominada </span><b><span>CONTRATANTE.
                                                    </span></b><span>E
                                                    a pessoa tipo jurídica nome:
                                                    <b>{{data.assinanteRazaoSocial || "_______________________________________"}}</b>, Endereço:
                                                    <b>{{data.assinanteLogradouro || "_________________________________"}}</b>, bairro <b>{{data.assinanteBairro || "________"}}</b>, cidade
                                                    <b>{{data.assinanteCidade || "____________________"}}</b>, CNPJ n.º <b>{{data.assinanteCnpj || "___________________"}}</b>, I.E.:
                                                    <b>{{data.assinanteInscricaoEstadual || "______________"}}</b>, têm justos e acordados as cláusulas e
                                                    condições que mutuamente aceitam.<br>
                                                    a) CONTRATANTE: pessoa jurídica que mediante
                                                    autorização expedida pela ANATEL presta o SCM; <br>
                                                    b) ASSINANTE: é a pessoa natural ou jurídica que possui
                                                    vínculo contratual com a CONTRATANTE para fruição
                                                    do SCM, segundo os termos e condições estabelecidas no
                                                    presente contrato;<br>
                                                    c) PROVEDOR: é pessoa jurídica legalmente
                                                    constituída, detentora do meio físico confinado
                                                    constituído de equipamentos capazes de fornecer
                                                    informações multimídia relacionadas, de
                                                    vídeo e áudio e rotear as solicitações dos
                                                    usuários do serviço de internet às redes de
                                                    destino que contém as informações, através
                                                    da infra-estrutura da CONTRATANTE, possibilitando o acesso à
                                                    rede mundial de computadores – internet.</span></p>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td style="padding: 0cm;"></td>
                </tr>
                <tr>
                    <td style="padding: 0cm;">
                        <p class="MsoNormal" style="line-height: normal;"><b><span>Cláusula
                                    Primeira – Do Objeto</span></b><span> <br>
                                Constituem objeto do presente contrato:<br>
                                1. A prestação do Serviço de
                                Comunicação Multimídia (SCM), pela CONTRATANTE ao
                                ASSINANTE, por meio de rede Wireless (sem fio), em tecnologia
                                “Spread Spectrum utilizando radiofreqüência de
                                radiação restrita em 2.4 GHz a 5.8 GHz a qual o ASSINANTE
                                obterá acesso à Internet do tipo Banda Larga.<br>
                                2. O Serviço de Comunicação Multimídia
                                é um serviço fixo de telecomunicações de
                                interesse coletivo, prestado em âmbito nacional e internacional,
                                no regime privado, que possibilita a oferta de capacidade de
                                transmissão, emissão e recepção de
                                informações multimídia, utilizando quaisquer
                                meios, a assinantes dentro de uma área de
                                prestação de serviço.<br>
                                <!--[if !supportLineBreakNewLine]--><br>
                                <!--[endif]--></span><b><span>
                                </span></b></p>
                        <p class="MsoNormal" style="line-height: normal;"><b><span>II
                                    Compete à CONTRATANTE:</span></b><span><br>
                                1. Definir os EQUIPAMENTOS necessários ao funcionamento do
                                Serviço de Comunicação Multimídia (SCM). <br>
                                2. Garantir a qualidade e o nível do Serviço de
                                Comunicação Multimídia (SCM) contratado pelo
                                ASSINANTE. <br>
                                3. Zelar pela segurança e sigilo das informações
                                sob sua responsabilidade.<br>
                                4. Instalar e manter em perfeitas condições de
                                funcionamento os meios necessários de acesso às redes de
                                comunicação ao ASSINANTE, os quais serão
                                instalados de forma adequada para receber o sinal de transmissão
                                de rádio “spread spectrum”, fibras ópticas,
                                pares ou cabos metálicos ou ainda quaisquer outros meios da
                                melhor forma possível, a fim de viabilizar a
                                prestação do Serviço de Comunicação
                                Multimídia – SCM.<br>
                                5. Prestar todo e qualquer serviço de reparo e assistência
                                técnica aos equipamentos instalados e
                                configurações do computador que se relacionem com o
                                Serviço de Comunicação Multimídia (SCM),
                                como forma de preservação das condições
                                contratuais, da qualidade e do funcionamento do Serviço de
                                Comunicação Multimídia (SCM). <br>
                                <!--[if !supportLineBreakNewLine]--><br>
                                <!--[endif]--></span><b><span>
                                </span></b></p>
                        <p class="MsoNormal" style="line-height: normal;"><b><span>Cláusula
                                    Sexta – Da mudança de endereço</span></b><span><br>
                                Parágrafo único. O ASSINANTE poderá requerer
                                à CONTRATANTE a mudança do local da
                                prestação do Serviço de Comunicação
                                Multimídia (SCM), condicionado o atendimento à
                                existência de disponibilidade técnica no novo
                                endereço indicado e ao pagamento de preço ou tarifa
                                correspondente.<br>
                                <!--[if !supportLineBreakNewLine]--><br>
                                <!--[endif]--></span><b><span>
                                </span></b></p>
                        <p class="MsoNormal" style="line-height: normal;"><b><span>Cláusula
                                    Sétima – Da suspensão do serviço e do
                                    bloqueio do serviço</span></b><span><br>
                                1. O ASSINANTE poderá solicitar à CONTRATANTE o bloqueio
                                parcial do Serviço de Comunicação
                                Multimídia (SCM), sem ônus, uma única vez, a cada
                                período de 12 (doze) meses, pelo prazo mínimo de 30
                                (trinta) dias e no máximo de 90 (noventa) dias, mantendo seu
                                endereço IP e possibilidade de reativação do
                                Serviço de Comunicação Multimídia (SCM) sem
                                a cobrança de nova taxa de adesão.<br>
                                2. Para requerer o bloqueio parcial do Serviço de
                                Comunicação Multimídia (SCM), o ASSINANTE
                                não poderá ter nenhum tipo de pendência financeira
                                com a CONTRATANTE.<br>
                                3. Ultrapassado os 90 (noventa) dias do bloqueio parcial e não
                                havendo a manifestação expressa do ASSINANTE em reativar
                                a prestação do serviço, o Serviço de
                                Comunicação Multimídia (SCM) será
                                automaticamente </span><b><span>CANCELADO</span></b><span> sem
                                a
                                necessidade de aviso prévio ao ASSINANTE.<br>
                                4. Ultrapassado os 90 (noventa) dias do bloqueio parcial e havendo o
                                interesse do ASSINANTE em continuar com o Serviço de
                                Comunicação Multimídia (SCM), será cobrado
                                nova taxa de adesão e/ou tarifas inerentes ao serviço
                                prestado.<br>
                                <!--[if !supportLineBreakNewLine]--><br>
                                <!--[endif]--></span><b><span>
                                </span></b></p>
                        <p class="MsoNormal" style="line-height: normal;"><b><span>Cláusula
                                    Oitava – Da Inadimplência</span></b><span><br>
                                1. Após 05 (cinco) dias de atraso na mensalidade, a CONTRATANTE
                                se reserva ao direito de </span><b><span>BLOQUEAR</span></b><span> a
                                utilização do Serviço de Comunicação
                                Multimídia (SCM) pelo período que persistir a mora, sem
                                prejuízo da cobrança dos valores devidos.<br>
                                2. O ASSINANTE, com mensalidade vencida, receberá aviso
                                fônado, por escrito vias CORREIOS ou E-Mail (correio
                                eletrônico) em até 01(um) dias após o vencimento da
                                mensalidade, comunicando do débito em aberto e do bloqueio
                                parcial do Serviço de Comunicação
                                Multimídia (SCM) previsto para a data informada no aviso, por
                                motivo de inadimplência.<br>
                                3. Efetivado o pagamento na rede bancária, a
                                reativação do Serviço de Comunicação
                                Multimídia (SCM) ocorrerá em até 24 (vinte e
                                quatro) horas após a comunicação do
                                órgão arrecadador à CONTRATANTE.<br>
                                4. Efetivado o pagamento no escritório comercial da CONTRATANTE
                                ou agentes autorizados pela CONTRATANTE, a reativação do
                                Serviço de Comunicação Multimídia (SCM)
                                ocorrerá em até 06 (seis) horas após o pagamento. <br>
                                5. Permanecendo a mensalidade em atraso por mais de 60 (sessenta) dias,
                                o ASSINANTE receberá aviso de cobrança alertando para a
                                possibilidade de inclusão do seu nome nos cadastros de
                                proteção ao crédito (SPC, DPC, SERASA, etc),
                                execução legal e rescisão do contrato de
                                prestação de serviço entre o CONTRATANTE e o
                                ASSINANTE.<br>
                                6. Transcorrido 60 (sessenta) dias de bloqueio parcial por motivo de
                                inadimplência e permanecendo o ASSINANTE inadimplente, a
                                CONTRATANTE poderá rescindir o contrato de
                                prestação de serviço sem prejuízo do
                                recebimento dos valores devidos.<br>
                                7. A reativação do Serviço de
                                Comunicação Multimídia (SCM), cancelado por
                                inadimplência, ficará condicionado ao pagamento de
                                eventuais débitos em aberto com a CONTRATANTE, assim como de
                                nova taxa de adesão, bem como à existência de
                                condições técnicas no endereço indicado
                                pelo ASSINANTE. <br>
                                <!--[if !supportLineBreakNewLine]--><br>
                                <!--[endif]--></span><b><span>

                                </span></b></p>

                        <p class="MsoNormal" style="line-height: normal;"><b><span>Cláusula
                                    Décima – Dos Preços</span></b><span><br>
                                1 – A</span><b><span>
                                    ASSINANTE</span></b><span>
                                pagará mensalmente à </span><b><span>CONTRATADA</span></b><span> o
                                valor de </span><b><u><span>R$
                                        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</span></u></b><span>
                                referente ao serviço objeto do contrato.<br>
                                2 - A conta do serviço prestado pela </span><b><span>CONTRATADA</span></b><span>
                                estará à disposição do </span><b><span>ASSINANTE</span></b><span> em
                                local previamente indicado, com no mínimo 3 (Três) dias de
                                antecedência da data de vencimento, através de boleto
                                bancário, caso a </span><b><span>ASSINANTE</span></b><span>
                                não receba o boleto até o vencimento poderá
                                imprimir a 2ª via pela página da _empresa_ ou pagar na Loja.<br>
                                3 - Caso a conta não seja entregue ou disponibilizada no site da
                                _empresa_ no prazo acima determinado, o seu vencimento será
                                postergado pelo mesmo número de dias de atraso.<br>
                                4- O Não pagamento da mesma em seu vencimento sujeita a
                            </span><b><span>ASSINANTE</span></b><span>,
                                independentemente de notificação ou
                                interpelação judicial ou extrajudicial, às
                                seguintes sanções: a) Suspensão da
                                prestação dos serviços objetos deste contrato sem
                                prévio aviso. b) Multa e juros de mora, conforme permitido por
                                lei.<br>
                                5 - O restabelecimento da prestação dos serviços
                                para a </span><b><span>ASSINANTE</span></b><span> fica
                                condicionando ao pagamento de todos os débitos existentes.<br>
                                6 - Os valores deste contrato poderão ser reajustados com aviso
                                prévio da </span><b><span>CONTRATADA</span></b><span> no
                                prazo mínimo de 30 dias de antecedência do próximo
                                vencimento e após respeitado o período mínimo de
                                180 dias de contrato.<br>
                                4.6 - Fica fixado o valor de R$_____ para cada gigabyte utilizado
                                além do montante contratado, que será cobrado juntamente
                                com a mensalidade.<br>
                                7 - No caso de impossibilidade do débito das mensalidades de
                                Débito em Conta Corrente, Lineway reserva-se ao direito de
                                emitir contra a </span><b><span>ASSINANTE</span></b><span> um
                                boleto para cobrança dos serviços prestados; junto ao
                                boleto será incluída taxa referente às despesas de
                                manuseio e envio do mesmo.</span></p>
                        <p class="MsoNormal" style="line-height: normal;"><b><span>Cláusula
                                    Décima Primeira – Forma e Local de Pagamento</span></b><span> <br>
                                1. Os valores referentes ao Serviço de Comunicação
                                Multimídia (SCM) deverão serem pagos pelo ASSINANTE
                                à CONTRATANTE mensalmente, nas opções de datas
                                pré-definidas pela CONTRATANTE e indicada na ficha de
                                adesão, no local onde a mesma indicar.<br>
                                2. Os boletos referentes às mensalidades serão enviados
                                via CORREIOS, E-MAIL (correio eletrônico) ou entregues
                                pessoalmente por funcionários da CONTRATANTE no endereço
                                onde estiver instalado o Serviço de Comunicação
                                Multimídia (SCM). É de inteira responsabilidade do
                                ASSINANTE observar sua caixa de CORREIOS quanto a entrega do boleto de
                                mensalidade e ocorrendo do não recebimento até (no
                                máximo) 05 (cinco) dias antes do vencimento cabe ao ASSINANTE
                                entrar em contato com a CONTRATANTE e solicitar a emissão de
                                2ª via do boleto de mensalidade. <br>
                                3. O não recebimento do boleto de mensalidade na data correta
                                para seu pagamento não condiciona o ASSINANTE a requerer
                                desconto na mensalidade por possíveis pagamentos em atraso e
                                consequentemente ao pagamento de multa por atraso e mora diária.
                                <br>
                                <!--[if !supportLineBreakNewLine]--><br>
                                <!--[endif]--></span><b><span>

                                </span></b></p>

                        <p class="MsoNormal" style="text-align: justify; line-height: normal;"><span>Bebedouro,
                                _____/_____/_______.</span></p>
                        <p class="MsoNormal" style="text-align: justify; line-height: normal;"></p>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
