ngb-tabset .tab-content {
  background-color: transparent !important;
}

.card {
  width: 100%;
}

.card-body {
  display: flex;
  flex-wrap: wrap;
}

.card-footer {
  padding: 15px;
  font-weight: 500;
  font-size: 0.8rem;
}

.resumo-info {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
}

.resumo-row {
  display: flex;
  justify-content: space-between;
}
.resumo-row span {
  margin-right: 30px;
  color: #b8b9bd;
}
.resumo-total {
  margin-top: 30px;
  margin-bottom: 10px;
  border-top: 1px solid #b8b9bd;
}
.img-preview img{
  max-width: 100%;
}

.bg-gray{
  background: #e6eaee;
  padding:15px;
}

.card-deck .card{
  border-radius: 10px;
  box-shadow: 0 1px 10px 0 rgba(69, 90, 100, 0.05);
}

.card-img-top{
  border-radius: 10px 10px 0 0 ;
}
