<div class="auth-wrapper">
  <div class="auth-content">
    <div class="auth-bg">
      <span class="r"></span>
      <span class="r s"></span>
      <span class="r s"></span>
      <span class="r"></span>
    </div>
    <div class="card">
      <div class="card-body text-center">
        <div class="logo">
          <img id="image-login-conexao" src="assets/icon/conexao-logo.svg" />
        </div>
        <h4 class="mb-4">Cadastro de nova senha</h4>
        <form name="changeForm" [formGroup]="changeForm" novalidate>

          <div class="">
            <mat-form-field class="w-100" appearance="outline">
              <mat-label>Nova senha</mat-label>
              <input matInput type="password" id="newPassword" placeholder="Nova senha"  formControlName="newPassword" required>
            </mat-form-field>
          </div>
          <div class="mb-4">
            <mat-form-field class="w-100" appearance="outline">
              <mat-label>Confirme a senha</mat-label>
              <input matInput type="password" required minlength="6" type="password" formControlName="confirmPassword"
                placeholder="Confirmar senha">
            </mat-form-field>
            <div class="mb-4" style="font-size: 0.9em; text-align: left; white-space: unset;">
              <ul>
                <li>Critérios para criar senha:</li>
                <ul>
                  <li>Mínimo de 6 caracteres:</li>
                  <li>Mínimo uma letra MAIÚSCULA</li>
                  <li>Mínimo uma letra minúscula</li>
                  <li>Mínimo um número</li>
                </ul>
              </ul>
            </div>
          </div>
          <button class="btn btn-primary mb-4" type="submit" aria-label="Confirmar"
            (click)="change(changeForm)">Confimar</button>
        </form>
      </div>
    </div>
  </div>
</div>
